@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
}